*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-secundario :#64ffda;
  --color-primario : #112240;
  --color-tercero: black;
  --color-tema-claro-primario: #61708B;
  --color-tema-claro-tercero: #6DB579;
  
}

.text{
  text-shadow: 3px 3px 0 rebeccapurple;
}

.perspective-20{
  perspective: 20px;
  /*La perspectiva tiene que ir en el padre
    y nos indicara en este caso en pixeles la profundidad*/
}


